body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: relative;
  min-height: 100vh;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 20px 0 20px;
}

.rating span {
  color: rgba(255, 175, 2, 0.801) !important;
}
.rating span:last-child {
  color: #0274a8 !important;
}


.footer {
  position: relative;
  bottom: 0;
  width: 100%;   
  margin-top: 1000px;
}

.product-page {
  margin-top: 15px;
}

.product-page .part-2 {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addItem-style {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}

.carousel-img{
  /* min-width: 800px !important; */
  max-width: 800px !important;
  max-height: 800px !important;
  width: 100% !important;
}

.number-input {
  color: white !important;
  max-width: 80px;
}

.loading {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 500px !important;
}

.success {
  color: green !important;
}
.failure {
  color: red !important;
}


.small-img {
  max-width: 5rem;
  width: 100%;
  margin-right: 9px;
}

.min-30 {
  min-width: 25rem;
}

.items {
  margin-bottom: 20px ;
}

.itemRow {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: auto;
}

.itemRow .col {
 
}

.bookingScreen {
  height: 100vh;
}

.CheckoutCard {
  margin-top: 55px !important;
  margin: auto;
  max-width: 22rem !important;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
  height: 90vh;
  width: 30rem !important;
}

#badge {
  color: white;
  background-color: red;
  border-radius: 100%;
  margin: 0 5px;
  padding: 2px 8px;
}

.checkout-steps {
  display: flex;
}

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #04a82d;
  color: #008f3b;
}

.center-div {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.order-items-card {
  display: flex;
  flex-direction: row;
}

.whole-page > * {
  margin-top: 20px;
}

.whole-page {
  display: flex;
  width: 100vw;
  overflow-x: hidden !important;
}
